<header>
    <div class="w-full h-screen bg-center bg-cover h-[38rem]" style="background-image: url('../../../assets/images/hunters-league.webp');">
        <div class="flex items-center justify-center w-full h-full bg-gray-900/40">
            <div class="text-center lg:w-2/3 w-full">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">" Unleash the thrill of the hunt and the excitement of competition with Hunter's League, the ultimate platform for managing hunting events. "</h1>
                <div class="flex justify-center">
                  <button routerLink="/auth/register" class="inline-flex text-white bg-green-900 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg">Get Started</button>
                  <button routerLink="/auth/login" class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Sign in</button>
                </div>
              </div>
        </div>
    </div>
</header>