<div class="flex w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800 lg:max-w-6xl">
  <div class="hidden bg-cover lg:block lg:w-1/2" style="background-image: url('../../../assets/images/logo2.webp');">
  </div>

  <div class="w-full px-6 py-8 md:px-8 lg:w-1/2">

    <div class="flex flex-col justify-center items-center ">
      <p class="my-3 text-xl text-center text-gray-600 dark:text-gray-200">
        Gear up for the hunt! Sign up now to join the Hunter's League
      </p>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="flex gap-x-6 mb-6">
        <div class="w-full relative">
          <label class="flex items-center mb-2 text-gray-600 text-sm font-medium">First Name
            <svg width="7" height="7" class="ml-1" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3.11222 6.04545L3.20668 3.94744L1.43679 5.08594L0.894886 4.14134L2.77415 3.18182L0.894886 2.2223L1.43679 1.2777L3.20668 2.41619L3.11222 0.318182H4.19105L4.09659 2.41619L5.86648 1.2777L6.40838 2.2223L4.52912 3.18182L6.40838 4.14134L5.86648 5.08594L4.09659 3.94744L4.19105 6.04545H3.11222Z"
                fill="#EF4444" />
            </svg>
          </label>
          <input formControlName="firstName" type="text"
            class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none"
            placeholder="" required="" />
          <div *ngIf="registerForm.get('firstName')?.touched && registerForm.get('firstName')?.invalid" class="text-red-500">
            <small *ngIf="registerForm.get('firstName')?.errors?.['required']">First Name is required.</small>
          </div>
        </div>
        <div class="w-full relative">
          <label class="flex items-center mb-2 text-gray-600 text-sm font-medium">Last Name
            <svg width="7" height="7" class="ml-1" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3.11222 6.04545L3.20668 3.94744L1.43679 5.08594L0.894886 4.14134L2.77415 3.18182L0.894886 2.2223L1.43679 1.2777L3.20668 2.41619L3.11222 0.318182H4.19105L4.09659 2.41619L5.86648 1.2777L6.40838 2.2223L4.52912 3.18182L6.40838 4.14134L5.86648 5.08594L4.09659 3.94744L4.19105 6.04545H3.11222Z"
                fill="#EF4444" />
            </svg>
          </label>
          <input formControlName="lastName" type="text"
            class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none"
            placeholder="" required="" />
          <div *ngIf="registerForm.get('lastName')?.touched && registerForm.get('lastName')?.invalid" class="text-red-500">
            <small *ngIf="registerForm.get('lastName')?.errors?.['required']">Last Name is required.</small>
          </div>
        </div>
      </div>
      <div class="flex gap-x-6 mb-6">
        <div class="w-full relative">
          <label class="flex items-center mb-2 text-gray-600 text-sm font-medium">userName
            <svg width="7" height="7" class="ml-1" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3.11222 6.04545L3.20668 3.94744L1.43679 5.08594L0.894886 4.14134L2.77415 3.18182L0.894886 2.2223L1.43679 1.2777L3.20668 2.41619L3.11222 0.318182H4.19105L4.09659 2.41619L5.86648 1.2777L6.40838 2.2223L4.52912 3.18182L6.40838 4.14134L5.86648 5.08594L4.09659 3.94744L4.19105 6.04545H3.11222Z"
                fill="#EF4444" />
            </svg>
          </label>
          <input formControlName="username" type="text"
            class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none"
            placeholder="" required="" />
          <div *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.invalid" class="text-red-500">
            <small *ngIf="registerForm.get('username')?.errors?.['required']">Username is required.</small>
            <small *ngIf="registerForm.get('username')?.errors?.['minlength']">Username must be at least 3 characters long.</small>
          </div>
        </div>
        <div class="w-full relative">
          <label class="flex items-center mb-2 text-gray-600 text-sm font-medium">Email
            <svg width="7" height="7" class="ml-1" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3.11222 6.04545L3.20668 3.94744L1.43679 5.08594L0.894886 4.14134L2.77415 3.18182L0.894886 2.2223L1.43679 1.2777L3.20668 2.41619L3.11222 0.318182H4.19105L4.09659 2.41619L5.86648 1.2777L6.40838 2.2223L4.52912 3.18182L6.40838 4.14134L5.86648 5.08594L4.09659 3.94744L4.19105 6.04545H3.11222Z"
                fill="#EF4444" />
            </svg>
          </label>
          <input formControlName="email" type="email"
            class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none"
            placeholder="" required="" />
          <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid" class="text-red-500">
            <small *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</small>
            <small *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format.</small>
          </div>
        </div>
      </div>
      <div class="flex gap-x-6 mb-6">
        <div class="w-full relative">
          <label class="flex items-center mb-2 text-gray-600 text-sm font-medium">CIN
            <svg width="7" height="7" class="ml-1" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3.11222 6.04545L3.20668 3.94744L1.43679 5.08594L0.894886 4.14134L2.77415 3.18182L0.894886 2.2223L1.43679 1.2777L3.20668 2.41619L3.11222 0.318182H4.19105L4.09659 2.41619L5.86648 1.2777L6.40838 2.2223L4.52912 3.18182L6.40838 4.14134L5.86648 5.08594L4.09659 3.94744L4.19105 6.04545H3.11222Z"
                fill="#EF4444" />
            </svg>
          </label>
          <input formControlName="cin" type="text"
            class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none"
            placeholder="" required="" />
          <div *ngIf="registerForm.get('cin')?.touched && registerForm.get('cin')?.invalid" class="text-red-500">
            <small *ngIf="registerForm.get('cin')?.errors?.['required']">CIN is required.</small>
            <small *ngIf="registerForm.get('cin')?.errors?.['pattern']">CIN must be exactly 8 digits.</small>
          </div>
        </div>
        <div class="w-full relative">
          <label class="flex items-center mb-2 text-gray-600 text-sm font-medium">Nationality
            <svg width="7" height="7" class="ml-1" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3.11222 6.04545L3.20668 3.94744L1.43679 5.08594L0.894886 4.14134L2.77415 3.18182L0.894886 2.2223L1.43679 1.2777L3.20668 2.41619L3.11222 0.318182H4.19105L4.09659 2.41619L5.86648 1.2777L6.40838 2.2223L4.52912 3.18182L6.40838 4.14134L5.86648 5.08594L4.09659 3.94744L4.19105 6.04545H3.11222Z"
                fill="#EF4444" />
            </svg>
          </label>
          <select formControlName="nationality" id="nationality"
            class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 border border-gray-300 rounded-lg focus:outline-none"
            required>
            <option value="" disabled selected>Select your nationality</option>
            <option value="American">American</option>
            <option value="British">British</option>
            <option value="Canadian">Canadian</option>
            <option value="French">French</option>
            <option value="German">German</option>
            <option value="Indian">Indian</option>
            <option value="Japanese">Japanese</option>
            <option value="Moroccan">Moroccan</option>
            <option value="Spanish">Spanish</option>
          </select>
          <div *ngIf="registerForm.get('nationality')?.touched && registerForm.get('nationality')?.invalid" class="text-red-500">
            <small *ngIf="registerForm.get('nationality')?.errors?.['required']">Nationality is required.</small>
          </div>
        </div>
      </div>
      <div class="flex gap-x-6 mb-6">
        <div class="w-full relative">
          <label class="flex items-center mb-2 text-gray-600 text-sm font-medium">Password
            <svg width="7" height="7" class="ml-1" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3.11222 6.04545L3.20668 3.94744L1.43679 5.08594L0.894886 4.14134L2.77415 3.18182L0.894886 2.2223L1.43679 1.2777L3.20668 2.41619L3.11222 0.318182H4.19105L4.09659 2.41619L5.86648 1.2777L6.40838 2.2223L4.52912 3.18182L6.40838 4.14134L5.86648 5.08594L4.09659 3.94744L4.19105 6.04545H3.11222Z"
                fill="#EF4444" />
            </svg>
          </label>
          <input formControlName="password" type="password"
            class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none"
            placeholder="" required="" />
          <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid" class="text-red-500">
            <small *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</small>
            <small *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long.</small>
            <small *ngIf="registerForm.get('password')?.errors?.['pattern']">
              Password must contain at least one uppercase letter, one lowercase letter, and one number.
            </small>
          </div>
        </div>
        <div class="w-full relative">
          <label class="flex items-center mb-2 text-gray-600 text-sm font-medium">Confirm Password
            <svg width="7" height="7" class="ml-1" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3.11222 6.04545L3.20668 3.94744L1.43679 5.08594L0.894886 4.14134L2.77415 3.18182L0.894886 2.2223L1.43679 1.2777L3.20668 2.41619L3.11222 0.318182H4.19105L4.09659 2.41619L5.86648 1.2777L6.40838 2.2223L4.52912 3.18182L6.40838 4.14134L5.86648 5.08594L4.09659 3.94744L4.19105 6.04545H3.11222Z"
                fill="#EF4444" />
            </svg>
          </label>
          <input type="password" id="default-search"
            class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none"
            placeholder="" required="" />
        </div>
      </div>

      <div class="flex flex-col justify-center items-center ">
        <button type="submit" [disabled]="registerForm.invalid"
          class="w-52 h-12 shadow-sm text-white capitalize transition-colors duration-300 transform bg-gray-800 rounded-lg hover:bg-gray-700 focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-50">
          Sign Up
        </button>
      </div>
    </form>
    <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </div>
</div>
